.sections {
  background-color: #F4E7DB;
  min-height: 70vh;
  margin: 0;
  padding: 0;
  display: flex;
  /*align-items: center;*/
  scroll-margin-top: 140px;
}

.title1 {
  font-family: 'Playfair Display', serif;
  margin-top: -40px;
}

.text {
  margin-top: 41px;
  text-align: justify;
  line-height: 1.5;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 0.25rem;
  /* equivalente ao 'rounded' */
}

@media (max-width: 600px) {
  .img {
    border-radius: 20px;
  }

  .title1 {
    /*display: flex;*/
    margin-top: auto;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;

    font-weight: bold;
    text-align: center;
    position: relative;
    margin-bottom: 1rem;
  }
}