.sections {
  background-color: #F4E7DB;
  min-height: 70vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  scroll-margin-top: 140px;
}

.title1 {
  font-family: 'Playfair Display', serif;
  margin-top: -40px;
}

.text {
  margin-top: 41px;
  text-align: justify;
  line-height: 1.5;
}