

.footer {
    background-color: #c4a289;
    
  }
  
  .title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: rgb(0, 0, 0);
  }

  .text {
    font-family: 'Playfair Display', serif;
    color: rgb(0, 0, 0);
  }
  
  .contactBtn {
    background-color: #40ac1c;
    color: #ffffff;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 40px;
    font-weight: bold;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .contactBtn:hover {
    background-color: #b4bac4;
    cursor: pointer;
  }