.header {
    background-color: #c6997950;

}

.headerimg{
    /*box-shadow: 0px 0px 5px 1px #e2c9a2;*/
    background-color: #c9a083a1;
}

.headernav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #c6997950;
    box-shadow: none;

    padding-top: 10px;
  padding-bottom: 0px;
  min-height: 120px; 
  
    /* Altura e espaçamento reduzido */
    /*padding-top: 10px;
    padding-bottom: 10px;

    
  
    /* Garante que o conteúdo se alinhe bem */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.title1 {
    font-family: 'Playfair Display', serif;
}

.title2 {
    font-family: 'Libre Baskerville', serif;
}