.header {
    background-color: #c49676;

}

.headernav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #c49676;
    box-shadow: none;
    z-index: 1000;
   
}

.title1 {
    font-family: 'Playfair Display', serif;
}

.title2 {
    font-family: 'Libre Baskerville', serif;
}