.headernav {
    
    position: static;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #c6997950;
    box-shadow: none;

    padding-top: 10px;
  padding-bottom: 0px;
  min-height: 120px; 
  
    /* Altura e espaçamento reduzido */
    /*padding-top: 10px;
    padding-bottom: 10px;

    
  
    /* Garante que o conteúdo se alinhe bem */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* ====================
   DESKTOP
==================== */
.logoContainer {
  width: 150px;
  display: flex;
  justify-content: flex-start; /* alinha à esquerda */
  padding-left: 30px; /* ajuste esse valor conforme necessário */
}

.headerimg {
  width: 160%;
  max-width: 300px;
  height: auto;
  background-color: #c9a083a1;
  margin-left: 160px;
}

.header {
    background-color: #ffffff50;
    /*background-color: #c6997950;*/

}

.title1 {
    font-family: 'Playfair Display', serif;
}

.title2 {
    font-family: 'Libre Baskerville', serif;
}

.contactBtn {
  background-color: #40ac1c;
  color: #ffffff;
  border: none;
  padding: 0.2rem 1.5rem; /* reduz altura do botão */
  border-radius: 50px;
  font-weight: bold;
  margin-left: 12px;     /* espaçamento após 'Contato' */
  margin-top: 0;         /* remove deslocamento para baixo */
  font-size: 1rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}


.contactBtn:hover {
  background-color: #b4bac4;
  cursor: pointer;
}

/* ====================
   MOBILE
==================== */
@media (max-width: 576px) {
  .headernav {
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .logoContainer {
    width: 100%;
    padding-left: 0 !important; /* anula o padding do desktop */
    justify-content: center;
    margin-bottom: 10px;
  }

  .headerimg {
    max-width: 180px;
    margin: 0 auto;
    display: block;
  }

  .title1 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* espaço entre links */
  }

  
}