.hero-section {
  background-color: #B4825F;
  position: relative;
  padding: 6rem 0 3rem 0; /* top, right, bottom, left */
  overflow: hidden;
  scroll-margin-top: 140px;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-img {
  max-width: 100%;
  border-radius: 80px;
}
