.hero-section {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 2rem;
  gap: 2rem;
  background-color: #c6997950;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-img {
  max-width: 80%;
  height: 70vh;
  /*border-radius: 80px;*/
  /*box-shadow: 0px 0px 8px 20px #dac199;*/
  
}

.quote {
  font-family: 'Georgia', serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #2c2c2c;
  max-width: 500px;
}

.quote-author {
  font-size: 1rem;
  color: #a6795a;
  margin-top: 8px;
}
