.contactSection {
  width: 100%;
  min-height: 40vh;
  background-color: #f9eee3; /* opcional */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  max-width: 900px;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;

  font-weight: bold;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
}


.hrDecorative {
  width: 80px;
  height: 3px;
  background-color: #422b1a;
  border: none;
  margin: 8px auto 24px;
  border-radius: 2px;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #A0522D;
  margin-right: 8px;
}


@media (max-width: 768px) {
  .columns {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* menor gap para mobile */
  }

  .column {
    max-width: 100%;
    width: 100%;
    align-items: flex-start;
  }
}