.contactSection{
  background-color: #F4E7DB;
}

.title1 {
  font-family: 'Playfair Display', serif;
}

.title2 {
  font-family: 'Libre Baskerville', serif;
}

.text1 {
  font-family: 'Open Sans', serif;
}